reviewer/main/default/flows/Change_visibility_based_on_stars.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Change_visibility_based_on_stars</name>
        <label>Change visibility based on stars</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_visibility_to_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rating</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinimumStars</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visibility_True</targetReference>
            </connector>
            <label>Set visibility to true</label>
        </rules>
        <rules>
            <name>Set_visibility_to_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rating</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MinimumStars</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visibility_False</targetReference>
            </connector>
            <label>Set visibility to false</label>
        </rules>
    </decisions>
    <formulas>
        <name>MinimumStars</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!GetRecordsFromContract.Minimum_Stars__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Rating</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.Rating__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Change visibility based on stars {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change visibility based on stars</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordsFromContract</name>
        <label>GetRecordsFromContract</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_visibility_based_on_stars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Movie__r.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Visibility_False</name>
        <label>Visibility False</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Original_Rating__c</field>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>MinimumStars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Visibility_True</name>
        <label>Visibility True</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Visibility__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordsFromContract</targetReference>
        </connector>
        <object>Movie_Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
