reviewer/main/default/flows/Filter_content.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Filter_review</name>
        <label>Filter review</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>InvocableValidator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_output_avaliable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>movieReviewInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_output_avaliable</name>
        <label>Is output avaliable</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No keyword found</defaultConnectorLabel>
        <rules>
            <name>Keyword_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_review.movieReviewOutput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visibility_false_after_filtering</targetReference>
            </connector>
            <label>Keyword found</label>
        </rules>
    </decisions>
    <interviewLabel>Filter content {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Filter content</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Visibility_false_after_filtering</name>
        <label>Visibility false after filtering</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Visibility__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_review</targetReference>
        </connector>
        <object>Movie_Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
